In [47]:
import pandas as pd

In [48]:
df  = pd.read_csv('asylum_seekers.csv')
df.drop('Unnamed: 0', axis =1 , inplace= True)

In [49]:
df.rename(columns={'Country / territory of asylum/residence': 'country_of_asylum','RSD procedure type / level': 'rsd_procedure_type',
               'Tota pending start-year':'total_pending_start_year', 'of which UNHCR-assisted(start-year)':'num_unhcr_assisted_start_year' ,
                'Applied during year':'applied_during_year', 'Otherwise closed': 'otherwise_closed',
                  'Total decisions': 'total_decisions','Total pending end-year' : 'total_pending_end_year',
                   'Rejected' : 'rejected', 'Origin': 'origin','Year':'year',
                  'of which UNHCR-assisted(end-year)': 'num_unhcr_assisted_end_year'}, inplace=True)

In [50]:
#filling nulls
df['rsd_procedure_type'].fillna('-', inplace = True)

In [51]:
df

,Unnamed: 0,year,country_of_asylum,origin,rsd_procedure_type,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,0,2000,Zimbabwe,Afghanistan,G / FI,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,1,2000,South Africa,Afghanistan,G / FI,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2,2000,Uzbekistan,Afghanistan,U / FI,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,3,2000,United States of America,Afghanistan,G / EO,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,4,2000,United States of America,Afghanistan,G / IN,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,129715,2016,United States of America,Zimbabwe,G / IN,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,129716,2016,United States of America,Zimbabwe,G / EO,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,129717,2016,South Africa,Zimbabwe,G / AR,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,129718,2016,South Africa,Zimbabwe,G / FI,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,129719,2016,Zambia,Zimbabwe,G / FI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
for col in ['total_pending_start_year', \
            'num_unhcr_assisted_start_year', \
            'applied_during_year', \
            'decisions_recognized', \
            'decisions_other', \
            'rejected', \
            'otherwise_closed', \
            'total_decisions', \
            'total_pending_end_year', \
            'num_unhcr_assisted_end_year']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].astype('float')
df

,Unnamed: 0,year,country_of_asylum,origin,rsd_procedure_type,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,0,2000,Zimbabwe,Afghanistan,G / FI,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,1,2000,South Africa,Afghanistan,G / FI,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2,2000,Uzbekistan,Afghanistan,U / FI,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,3,2000,United States of America,Afghanistan,G / EO,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,4,2000,United States of America,Afghanistan,G / IN,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,129715,2016,United States of America,Zimbabwe,G / IN,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,129716,2016,United States of America,Zimbabwe,G / EO,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,129717,2016,South Africa,Zimbabwe,G / AR,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,129718,2016,South Africa,Zimbabwe,G / FI,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,129719,2016,Zambia,Zimbabwe,G / FI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df.fillna(0,inplace=True)

In [57]:
## making a sum dataframe of the data:
temp = df
temp.drop('rsd_procedure_type',axis =1 , inplace = True )
temp

,year,country_of_asylum,origin,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,2000,Zimbabwe,Afghanistan,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,2000,South Africa,Afghanistan,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2000,Uzbekistan,Afghanistan,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,2000,United States of America,Afghanistan,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,2000,United States of America,Afghanistan,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,2016,United States of America,Zimbabwe,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,2016,South Africa,Zimbabwe,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,2016,South Africa,Zimbabwe,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,2016,Zambia,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
origins = temp['origin'].unique().tolist()

str

In [64]:
by_origin = pd.DataFrame(columns=['origin','total_applied', 'total_recognized'])
for o in origins:
    country = temp[temp['origin'] == o]
    by_origin = by_origin.append({'origin':o,'total_applied':country['applied_during_year'].sum(), 'total_recognized':country['decisions_recognized'].sum()},ignore_index=True)
by_origin

                     origin  total_applied  total_recognized
0               Afghanistan      1579358.0          239198.0
1                    Angola        74216.0           11717.0
2                   Albania       217021.0           14660.0
3                   Andorra           22.0               6.0
4      United Arab Emirates          551.0             120.0
..                      ...            ...               ...
217              Martinique            0.0               0.0
218  Svalbard and Jan Mayen            1.0               0.0
219                Anguilla            0.0               0.0
220          American Samoa            0.0               0.0
221          Norfolk Island            0.0               0.0

[222 rows x 3 columns]

In [65]:
assylum_contries = pd.DataFrame(columns=['country_of_asylum','total_applied', 'total_recognized'])
for o in origins:
    country = temp[temp['country_of_asylum'] == o]
    assylum_contries = assylum_contries.append({'country_of_asylum':o,'total_applied':country['applied_during_year'].sum(), 'total_recognized':country['decisions_recognized'].sum()},ignore_index=True)
assylum_contries

          country_of_asylum  total_applied  total_recognized
0               Afghanistan          814.0             249.0
1                    Angola        19972.0            2250.0
2                   Albania         3932.0             158.0
3                   Andorra            0.0               0.0
4      United Arab Emirates         3700.0            2433.0
..                      ...            ...               ...
217              Martinique            0.0               0.0
218  Svalbard and Jan Mayen            0.0               0.0
219                Anguilla            1.0               1.0
220          American Samoa            0.0               0.0
221          Norfolk Island            0.0               0.0

[222 rows x 3 columns]